python-dotenv
jupyterlab
ipywidgets
requests
numpy
pandas
scipy
scikit-learn
matplotlib
gensim
torch
transformers
tqdm
openai
gradio
datasets
sentencepiece
matplotlib
google-generativeai
anthropic
chromadb
plotly
jupyter-dash
beautifulsoup4
modal
ollama
psutil
setuptools
speedtest-cli
torchviz
groq
networkx
openai-agents
xgboost
